
body {		
	font:  'Droid Sans', sans-serif;
	color: #000;
	min-width: 500px;
	font-size: .80em;
	background: url(../images/bannerBackground.png) repeat-x 25% 0, url(../images/bg.png);	
}


#spinnerGeo{
	height: 50px;
}

#spinnerGeo{
	height: 200px;
}


.fixedWidthSite
{
    width: 800px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */	
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */	
}

#btnTwitterMap{
	width: 425px;
  	margin-left: auto ;
  	margin-right: auto ;
}

#topSpacer{
	height: 50px;
}

.bottomSpacer{
	height: 25px;
}

#twitTimelineTable{
	width: 425px;
	height: 400px;
	overflow:scroll;
	overflow-x: auto;
}

#twitTimeline{
	width: 400px; 
}

#twitterResults{
	width: 0px;
	height: 0px;
	overflow:scroll;
	overflow-x: auto;
}

.twitterMessageRow{
	font:  1.1em 'Droid Sans', sans-serif;
    color: #bbbbbb !important;	
	border:3px solid #333333;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;      
}

.twitterUser{
	font:  1.1em 'Droid Sans', sans-serif;
    color: #8ebd7a !important;	
}

#map-canvas{
	width: 100%;
	height: 100%;
    margin: 0px;
   	padding: 0px
}

#contentTable{
	height: 500px;
	width: 200px;
}

.tableContentOn{
	background: #444444;	
	border:8px solid #333333;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:0 0 10px #333333;
    -webkit-box-shadow:0 0 10px #333333;
    box-shadow:0 0 10px #333333;
    position:relative;
}

.topSpacer10{
	height: 10px
}
.centerTable{
	text-align:center;
	 width:800px; 
	 display: block;
}

.greenText
{
    font:  1.1em 'Droid Sans', sans-serif;
    color: #8ebd7a !important;
}

.timestamp{
	color: #888888 !important;
}

.greyText
{
    font:  1.1em 'Droid Sans', sans-serif;
    color: #cccccc !important;
}

.dialogSize{
	width: 350px;
}



.input {
    display:inline-block
}
.input span {
  position: absolute;
  padding: 5px;
  margin-left: 3px;
  z-index: 1;
  cursor: text;
  pointer-events: none;
  font:  1.1em 'Droid Sans', sans-serif;
  color: #8ebd7a !important;
}
.input input, .input textarea, .input select {
  z-index: 0;
  padding: 6px;
  margin: 0;
  font: inherit;
  font:  1.1em 'Droid Sans', sans-serif;
  color: #333333 !important;
}
/* Hack to remove Safari's extra padding. Remove if you don't care about pixel-perfection. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .input input, .input textarea, .input select { padding: 4px; }
}

.leftSearch{
	width:75px;
	
}

.middleSearch{
	width:350px;
	
}

#userTwitScroll{
	max-width:350px;
}


#container {
	min-height:350px;	
		
}

#footer{
	text-align:center;
	font:  1.1em 'Droid Sans', sans-serif;
	color: #8ebd7a !important;
	background: #666666 url(../images/twitterMapFooter.png) repeat-x 25% 0;
	height: 20px;
}
